@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
 
   
}

main{
    margin: auto;
    width: 300px;
    height: 475px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color:hsl(0, 0%, 100%);
    border-radius: 20px;
    text-align: center;
}

section{
    width: 300px;
    height: 60%;
    padding-top: 10px;
}

img{ 
    position: relative;
    width: 90%;
    border-radius: 10px;
    margin-top: 5px;
}

h1{
    color: hsl(218, 44%, 22%);
    margin-top: 15px;
    margin-bottom: 10px;
}

p{
    color: hsl(220, 15%, 55%);
    margin-top: 20px;  
}
